@font-face {
  font-family: 'Lato'; 
  font-weight: 400; 
  src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato'; 
  font-weight: 200;
  src: url('/fonts/Lato-Hairline.ttf');
}
@font-face {
  font-family: 'Lato'; 
  font-weight: 300;
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato'; 
  font-weight: 500;
  src: url('/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato'; 
  font-weight: 600;
  src: url('/fonts/Lato-Black.ttf');
}
